/*通用配置*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: top;
	font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
}
.container{
	width: 80%!important;
	margin: 0 auto;
}
p{
	margin: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix {
	*zoom: 1;
}

html,
body {
	width: 100%;
	height: 100%;
}

.page {
	width: 100%;
	height: auto;
}


/*头部样式*/

/*上部分导航条样式*/
.nav-bar .top-bar{
	height: 40px;
	line-height: 40px;
	border: 1px solid #e0e0e0;
	
}
.top-bar-1 .ewm{
	display: none;
	position: relative;
}
div.top-bar-1:hover .ewm{
	display: block;
	margin-top: -10px;
	position: absolute;
	z-index: 1000000;
}
.nav-bar .container1 .row{
	height: 39px;
}
.nav-bar .container1 .row div[class^='top-bar']{
	height: 39px;
}
.nav-bar .container1 .row>div+div{
	border-left: 1px solid #e0e0e0;
}
/*下部分导航条样式*/
.nav-bar .navbar-lk{
	background: #fff;
	margin-bottom: 0;	
}
.nav-bar .navbar-lk .navbar-brand{
	height: 70px;
	padding: 3px 25px;
	position: relative;
	top: 5px;
}
.nav-bar .navbar-lk .navbar-nav a{
	height: 70px;
	line-height: 35px;
}
.nav-bar .navbar-lk .navbar-nav li.active a,
.nav-bar .navbar-lk .navbar-nav li a:hover{
	background: transparent;
	border-bottom: 2px solid #0ab4f7;
}
.navbar .container1 .navbar-header .navbar-toggle{
	margin-bottom: 19px;
	margin-top: 19px;
}

/*头部样式*/


/*轮播广告样式*/

.slider-banner {
	margin: 0;
	width: 100%;
	overflow: hidden;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom: 0;
}

.slider-banner ul {
	width: 100%;
	height: 300px;
	position: relative;
}

.slider-banner ul li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

.slider-banner ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.slider-banner ul li:nth-child(1) a {
	background: url("../images/top_banner01.jpg") center center no-repeat;
}

.slider-banner ul li:nth-child(2) a {
	background: url("../images/top_banner02.jpg") center center no-repeat;
}

.slider-banner ul li:nth-child(3) a {
	background: url("../images/top_banner03.jpg") center center no-repeat;
}

.slider-banner ul li:nth-child(4) a {
	background: url("../images/top_banner04.jpg") center center no-repeat;
}


/*轮播广告样式*/


/*绚丽小球样式*/

.ball {
	padding: 20px;
	display: flex;
	justify-content: center;
}

#canvas1 {
	box-shadow: 10px 0px 10px #ccc;
	border: 2px solid #ccc;
}
/*绚丽小球样式*/


/*类型标题样式*/

.type-title {
	width: 100%;
	height: 130px;
}

.type-title .type-title-in {
	position: relative;
	width: 230px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 130px;
	font-size: 30px;
	color: #666;
}

.type-title .type-title-in .line-left,
.type-title .type-title-in .line-right {
	width: 48px;
	border-top: 1px solid #666;
	position: absolute;
	top: 65px;
}

.type-title .type-title-in .line-left {
	left: 15px;
}

.type-title .type-title-in .line-right {
	right: 15px;
}


/*类型标题样式*/


/*选项卡样式*/

.tab {
	width: 100%;
	height: auto;
}

.tab .tab-header {
	width: 390px;
	/* 这个地方是关于选项卡的大小设置*/
	height: 48px;
	margin: 0 auto;
}

.tab .tab-header ul li {
	float: left;
	width: 80px;
	text-align: center;
	line-height: 47px;
	font-size: 18px;
	cursor: pointer;
}

.tab .tab-header ul li.current {
	border-bottom: 1px solid orangered;
	color: orangered;
}

.tab .tab-content {
	width: 100%;
	background-color: #e8e8e8;
}

.tab .tab-content .dom:nth-child(1) {
	width: 100%;
}

.tab .tab-content .dom:nth-child(2) {
	width: 100%;
	height: auto;
	min-height: auto;
	background: #ccc;
}

.tab .tab-content .dom:nth-child(2) h1 {
	position: relative;
	text-align: center;
	/*居中*/
	color: #F4A523;
}


.container .text {
    border: 1px solid #e0e0e0;
    border-top: 0;
    min-height: 150px;
    background-color: #fff;
}
.container .toolbar {
	border: 1px solid #ccc;
	border-top: 0;
	width: 100%;
	cursor: pointer;
	background-color: #fff;
	margin-bottom: 10px!important;
}

/*留言板按钮样式*/
#postmes {
	width: 180px;
	margin: 0 auto;
}

#postmes input {
	outline: none;
	border: none;
	box-shadow: 2px 0 2px black;
	background: #2f435e;
	color: #f2f2f2;
	border-radius: 2px;
	width: 70px;
	height: 50px;
	cursor: pointer;
	padding: 10px;
	-webkit-background-origin: border-box;
	background-origin: border-box;
}

#postmes input:active {
	border: 1px solid #ccc;
}

#postmes_postBTN {
	margin-right: 15px;
}

#clear_postBTN {
	float: right;
}

/*留言板评论列表样式*/
.tab .tab-content .dom:nth-child(2) #div_tab {
	border: #8A2BE2;
	width: 80%;
	padding-bottom: 300px;
	margin: 0px auto;
}

ul.commentList{
	list-style: none;
	width: 90%;
	background-color: #fff;
	margin: 50px auto;
}

ul.commentList li{
	border-bottom: 1px dashed #ccc;
	text-indent: 2em;
	line-height: 30px;
}



/*旋转木马样式开始*/
.tab .tab-content .dom:nth-child(3) {
	width: 100%;	
	border: 1px solid #ccc;
	height: 700px;
	margin-top: 20px;
	margin: 0 auto;
}
.container1{
	width: 152px;
	margin: 150px auto;
	perspective: 600px;/*公用一个中心点，是我们想要的*/
	opacity: 0.8;
	filter:alpha(opacity=80);
	transition: all 1s ease-in-out;
	transform:rotateY(0deg);
	transform-style: preserve-3d;
}
.container1 .case1{
	width: 150px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
}
.container1 .case1 img{
	position: absolute;
	width: 100%;
	border: 1px solid #ccc;
	cursor: pointer;
	transition: all 1s ease-in-out;
}
/*旋转木马样式结束*/


.tab .tab-content .dom:nth-child(4) {
	width: 100%;	
	border: 1px solid #ccc;
	height: 2400px;
	margin-top: 20px;
	margin: 0 auto;
	align-items: center;
    background: #642B73;
    background: linear-gradient(to left, #C6426E, #642B73);
    justify-content: center;
    text-align: center;
}

.tab .tab-content .dom {
	width: 100%;
	display: none;
	height: 200px;
	margin: 0 auto;
}


/*瀑布流开始*/
.dom-pull {
	width: 100%;
	padding: 20px 0;
	position: relative;
	margin: 0 auto;
	height: 800px;
}

.dom-pull .box {
	width: 234px;
	float: left;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	position: relative;
}

.dom-pull .box .pic {
	position: relative;
	cursor: pointer;
}

.dom-pull .box .pic img {
	width: 234px;
}

.dom-pull p {
	line-height: 18px;
	padding: 0 10px;
	margin: 10px 0;
	font-size: 12px;
	word-wrap: break-word;
}

.dom-pull .box .pic .cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	display: none;
}

.dom-pull .box .btn-box {
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	background-color: red;
	z-index: 3;
	display: none;
}

.dom-pull .box .btn-box .collect {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
	background-color: #E53E49;
	padding: 0 12px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.dom-pull .box .btn-box .like {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dom-pull .box .btn-box .like .heart {
	width: 14px;
	height: 14px;
	background: url("../images/action_icons12.png") -20px 0;
	display: inline-block;
}

/*返回顶部*/
#toTop{
	position:fixed;
	bottom:10px;
	right:10px;
	display: none;
	cursor: pointer;
}