/*1rem = 20px while the screen is 1366+*/
body {
	font-size: 0.8rem;
	background-color: #403833;
}


.load {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
}


.load .txt {
	font-size:1.5rem;
	position: absolute;/*in order not to occupy space */
	left: -1.8rem;
	top: -0.5rem;
	-webkit-animation: txt 2s infinite;
	-o-animation: txt 2s infinite;
	animation: txt 2s infinite;
}

.load .bottom{
	position: absolute;
	left: -0.5rem;
	top: -0.4rem;
}

.load .left{
	position: absolute;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	left: 1rem;
	top: -0.4rem;
}

.load .top{
	position: absolute;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	left: 1.05rem;
	top: 1.3rem;
}

.load .right{
	position: absolute;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	left: -0.40rem;
	top: 1.2rem;
}

.load .circle{
	position: absolute;
	width: 5rem;
	height: 5rem;
	-webkit-animation: 4s round infinite;
	-o-animation: 4s round infinite;
	animation: 4s round infinite;
}

.load .circle:after{
	position: absolute;
	content: '';
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.load .circle:nth-child(1){
	z-index: 5;
}

.load .circle:nth-child(1):after{
	background-color: #13A3A5;
}

.load .circle:nth-child(2){
	-webkit-animation-delay: 100ms;
	-moz-animation-delay: 100ms;
	-o-animation-delay: 100ms;
	animation-delay: 100ms;
	z-index: 4;
}

.load .circle:nth-child(2):after{
	background-color: #56bebf;
	-webkit-transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8);
	-o-transform: scale(0.8,0.8);
	transform: scale(0.8,0.8);
}

.load .circle:nth-child(3){
	-webkit-animation-delay: 200ms;
	-moz-animation-delay: 200ms;
	-o-animation-delay: 200ms;
	animation-delay: 200ms;
	z-index: 3;
}

.load .circle:nth-child(3):after{
	background-color: #ffa489;
	-webkit-transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-o-transform: scale(0.6,0.6);
	transform: scale(0.6,0.6);
}

.load .circle:nth-child(4){
	-webkit-animation-delay: 300ms;
	-moz-animation-delay: 300ms;
	-o-animation-delay: 300ms;
	animation-delay: 300ms;
	z-index: 2;
}

.load .circle:nth-child(4):after{
	background-color: #ff6d37;
	-webkit-transform: scale(0.4,0.4);
	-moz-transform: scale(0.4,0.4);
	-ms-transform: scale(0.4,0.4);
	-o-transform: scale(0.4,0.4);
	transform: scale(0.4,0.4);
}

.load .circle:nth-child(5){
	-webkit-animation-delay: 400ms;
	-moz-animation-delay: 400ms;
	-o-animation-delay: 400ms;
	animation-delay: 400ms;
	z-index: 1;
}

.load .circle:nth-child(5):after{
	background-color: #DB2F00;
	-webkit-transform: scale(0.2,0.2);
	-moz-transform: scale(0.2,0.2);
	-ms-transform: scale(0.2,0.2);
	-o-transform: scale(0.2,0.2);
	transform: scale(0.2,0.2);
}

@keyframes round {
	0%{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 100% 100% 0;
		-moz-transform-origin: 100% 100% 0;
		-ms-transform-origin: 100% 100% 0;
		-o-transform-origin: 100% 100% 0;
		transform-origin: 100% 100% 0;
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		-o-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	
	70%{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transform-origin: 100% 100% 0;
		-moz-transform-origin: 100% 100% 0;
		-ms-transform-origin: 100% 100% 0;
		-o-transform-origin: 100% 100% 0;
		transform-origin: 100% 100% 0;
		-webkit-animation-timing-function: ease-in;
		-moz-animation-timing-function: ease-in;
		-o-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
}		
	100%{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transform-origin: 100% 100% 0;
		-moz-transform-origin: 100% 100% 0;
		-ms-transform-origin: 100% 100% 0;
		-o-transform-origin: 100% 100% 0;
		transform-origin: 100% 100% 0;
	}
}


@keyframes txt {
	0% {
		-webkit-transform: scale(0.4, 0.4);
		-moz-transform: scale(0.4, 0.4);
		-ms-transform: scale(0.4, 0.4);
		-o-transform: scale(0.4, 0.4);
		transform: scale(0.4, 0.4);
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		-o-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		-ms-transform: scale(1.1, 1.1);
		-o-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
		-webkit-animation-timing-function: ease-in;
		-moz-animation-timing-function: ease-in;
		-o-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: scale(0.4, 0.4);
		-moz-transform: scale(0.4, 0.4);
		-ms-transform: scale(0.4, 0.4);
		-o-transform: scale(0.4, 0.4);
		transform: scale(0.4, 0.4);
	}
}