
/* music bagin */
.music-wave{
	width: 613.57px;
	height: 418.1px;
    background-image: linear-gradient(to top, rgb(243, 231, 233) 0%, rgb(227, 238, 255) 99%, rgb(227, 238, 255) 100%);
	float: right;
	margin: 10px;
	border-radius: 15px;
	box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
	display: inline-block;
	padding: 30px 35px;
	position: relative;
	 overflow: hidden;
	   text-align: center;
	-webkit-perspective: 1800px;
          perspective: 1800px;
  text-align: left;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  min-width: 595px;

}
.music-wave-div1{
	width: 100px;
	height: 30px;
	    background-image: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%);
	margin: 10px;
	margin-top: 1px;
box-shadow:5px 5px 10px black;
	border-radius: 5px;

}
.music-wave-div2{
	width: 100px;
	height: 30px;
background-color: red;
margin: 10px;

}
.music-wave-div3{
	width: 100px;
	height: 30px;
	background-color: red;
margin: 10px;
}
.music-wave-div4{
	width: 100px;
	height: 30px;
	background-color: red;
	margin: 10px;

}
.music-wave-div5{
	width: 100px;
	height: 30px;
background-color: red;
margin: 10px;
}
.music-wave-div6{
	width: 100px;
	height: 30px;
	background-color: red;
margin: 10px;
}

/*音乐播放器开始*/
.musicL {
				float: left;
				height: 80px;
				width: 310px;
				background-image: linear-gradient(to top, rgb(218, 212, 236) 0%, rgb(218, 212, 236) 1%, rgb(243, 231, 233) 100%);
			}
			
		
			.progress {
				float: left;
				font-size: 14px;
				width: 300px;
				height: 2s0px;
				margin-left: 10px;
				margin-top: 80px;
			}
			
	
			.load-music {
				display: inline-block;
				width: 200px;
				height: 5px;
				background: red;
				cursor: pointer;
				position: relative;
				top: 8px;
			
			}
			
			.circle-music {
				width: 0px;
				height: 5px;
				background: red;
				position: relative;
				left: 0;
				top: 0;
			}
			
			.round {
				position: absolute;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #63A35C;
				left: 0px;
				top: -3px;
			}
			
			.music_list {
				width: 500px;
				background: #DDDDDD;
				margin: 0 auto;
			}
			
			.music_list li {
				height: 25px;
				border-bottom: 24px solid #ccc;
				line-height: 26px;
				cursor: pointer;
				text-align: center;
			}
			
			.music_list li:hover {
				background: pink;
			}

/*音乐播放器结束*/
/* music wave ending结束 */
