/*一个小游戏开始*/
.game-tank{
	width: 1000px;
	height: 500px;
	position: relative;
	background-image: linear-gradient(to top, rgb(218, 212, 236) 0%, rgb(218, 212, 236) 1%, rgb(243, 231, 233) 100%);
	left: 50%;
	margin-left: -450px;
	margin-top: 150px;
}
.btn-bubble {
  color: white;
  background-color: #77b11c;
  background-repeat: no-repeat;
/*  //背景颜色样式*/
}
.btn-bubble:hover, .btn-bubble:focus {
  -webkit-animation: bubbles 1s forwards ease-out;
          animation: bubbles 1s forwards ease-out;
/*      规定以慢速开始和结束的过渡效果（等于 cubic-bezier(0.42,0,0.58,1)）。就是在动画播放完了之后给它一个状态*/
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 90% 90% / 0.88em 0.88em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 23% 141% / 0.81em 0.81em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 17% 90% / 0.68em 0.68em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 15% 94% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 42% 126% / 0.86em 0.86em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 102% 120% / 0.58em 0.58em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 12% 121% / 0.67em 0.67em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 69% 87% / 1.18em 1.18em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 32% 99% / 0.79em 0.79em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 84% 129% / 0.79em 0.79em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 40% 99% / 0.72em 0.72em;
/*  radial-gradient() 函数创建一个<image>，用来展示由原点（渐变中心）辐射开的颜色渐变。这个方法得到的是一个CSS<gradient>数据类型的对象。*/
  background-color: #77b11c;
  background-repeat: no-repeat;
  /*定义气泡*/
}

@-webkit-keyframes bubbles {
  100% {
    background-position: 92% -220%, 31% -185%, 24% 6%, 16% -328%, 39% -366%, 110% -375%, 5% -60%, 59% -365%, 41% -363%, 82% -8%, 37% -224%;
    box-shadow: inset 0 -6.5em 0 #0072c4;
  }
}

@keyframes bubbles {
  100% {
    background-position: 92% -220%, 31% -185%, 24% 6%, 16% -328%, 39% -366%, 110% -375%, 5% -60%, 59% -365%, 41% -363%, 82% -8%, 37% -224%;
    box-shadow: inset 0 -6.5em 0 #0072c4;
  }
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1em 2em;
}
#tankMap{
	width: 1000px;
	height: 500px;

}
.tank1{
	width: 60px;
	height: 60px;
	background: url(../img/enemy3U.gif);
	background-color: greenyellow;
	position: absolute;
	margin-top: 0px;
	transition: all 500ms;
	
}
.tank2{
	width: 60px;
	height: 60px;
	background: url(../img/enemy3L.gif);
	background-color: greenyellow;
	position: absolute;
	transition: all 500ms;
	
}
.tank3{
	width: 60px;
	height: 60px;
	background: url(../img/enemy3D.gif);
	background-color: greenyellow;
	position: absolute;
	transition: all 500ms;
}
/*一个小游戏结束*/